<div class="all">
    <div class="cont">
        <div class=" no-recent" *ngIf="recentPosts.length==0">
            No Recent Posts
        </div>
        <div class="all-posts" *ngIf="recentPosts.length>0">
            <div class="top">
                <p class="recent">Recent Posts</p>
                <button class="clear-btn" (click)="clearRecent();">Clear</button>
            </div>
            <hr>
            <div class="posts" *ngFor="let post of recentPosts">
                <div class="" [routerLink]="['/mainPage','community',post.communityName,'post',post.id]" >
                    <p class="name">{{post.communityName}}</p>
                    <p class="desc">{{post.title}}</p>
                    <hr>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

