<div class="post">
    <div class="post-header-row">
      <div class="post-left">
        <div class="top d-flex justify-content-between">
          <h3 class="title">{{ post.title }}</h3>
          <div class="small">{{date}}</div>
        </div>
  
        <p *ngIf="isLink" class="post-link">
          <a [href]="post.description">{{ post.description }}</a>
        </p>
        <div *ngIf="!isLink" class="post-description">
          {{ post.description }}
        </div>
  
        <div class="post-actions">
          <div class="vote-comments">
            <div class="vote-buttons">
              <button class="upvote-btn" (click)="voteOnPost(true);" [class.upvoted]="voted===true">▲</button>
              <div class="vote-count">{{ post.vote }}</div>
              <button class="downvote-btn" (click)="voteOnPost(false);" [class.downvoted]="voted===false">▼</button>
            </div>
            <div class="comments">
              <button class="comment-btn" (click)="openBigPost();">📝 {{commCount}}</button>
            </div>
          </div>
          <button class="share-btn">🔗Share</button>
        </div>
      </div>
  
      <div class="post-preview" *ngIf="isLink && post.mediaIds && post.mediaIds.length > 0">
        <a [href]="post.description">
          <img [src]="post.mediaIds[0].url" alt="Image" class="post-image" />
        </a>
      </div>
    </div>
  </div>
  