<div class="parent">
    <div class="content border-end border-light">
        <div class="post" *ngIf="post!=null">
            <h2>{{post.title}}</h2>
            <div class="" *ngIf="hasMedia && post.mediaIds && post.mediaIds.length > 0">
                <a [href]="post.description">
                    <img [src]="post.mediaIds[0].url" alt="Image" class="post-image">
                </a>
                <a [href]="post.description">
                    <p class="link-bottom">{{post.description}}</p>
                </a>
            </div>
            <div class="desc-text" *ngIf="hasMedia===false">
                {{post.description}}
            </div>
        </div>
        <div class="upvotes" *ngIf="post!=null">
            <div class="vote-comments">
                <div class="vote-buttons">
                    <button class="upvote-btn" (click)="voteOnPost(true);" [class.upvoted]="hasVoted===true">▲</button>
                    <div class="vote-count">{{ post.vote }}</div>
                    <button class="downvote-btn" (click)="voteOnPost(false);" [class.downvoted]="hasVoted===false">▼</button>
                </div>
                <div class="comm">
                <button class="comment-btn">📝 {{commCount}}</button>
                </div>
            </div>
            <button class="share-btn">🔗Share</button>
        </div>
        <div class="add-comments">
            <div class="textarea-wrapper">
                <textarea class="comment-send" type="text" placeholder="Add Comment" rows="1"></textarea>
                <button type="button" class="btn btn-small" (mousedown)="addComment();">Add</button>
            </div>
        </div>
        <div class="comments">
            <comment-recursion *ngFor="let comment of this.root" [comment]="comment" [level]="0"></comment-recursion>
        </div>
    </div>
    <div class="sidebar">
        <community-info></community-info>
    </div>
</div>


