<navigation-bar></navigation-bar>
<div class="d-flex align-items-center justify-content-center size">
    <div class="card text-center" style="width:30rem; font-size: 2em;">
      <div class="card-body">
        <h3 class="card-title">Welcome!</h3>
        <p class="card-text" style="margin-bottom: 2rem;">Get started</p>
        <div class="d-flex justify-content-md-around">
          <a routerLink="/register" class="btn btn-primary" style="width: 6rem;">Register</a>
          <a routerLink="/login" class="btn btn-primary" style="width: 6rem;">Login</a>
        </div>
      </div>
    </div>
</div>  
  
