<div class="parent">
    <div class="content border-end border-light" (scroll)="onScroll($event);">
        <div class="menu border-light border-bottom">
            <div class="btn btn-dark posts" (click)="changeNumber(0);">Posts</div>
            <div class="btn btn-dark comments" (click)="changeNumber(1);">Comments</div>
            <div class="btn btn-dark upvoted" (click)="changeNumber(2);">Upvoted</div>
            <div class="btn btn-dark downvoted" (click)="changeNumber(3);">Downvoted</div>
        </div>
        <div class="" *ngIf="loadNumber==0">
            <div class="" *ngFor="let post of this.posts">
                <post [post]="post"></post>
            </div>
        </div>
        <div class="" *ngIf="loadNumber==1">
            <div class="" *ngFor="let comment of this.comments">
                <comment-profile [comment]="comment"></comment-profile>
            </div>
        </div>
        <div class="" *ngIf="loadNumber==2">
            <div class="" *ngFor="let post of this.upVoted">
                <post [post]="post"></post>
            </div>
        </div>
        <div class="" *ngIf="loadNumber==3">
            <div class="" *ngFor="let post of this.downVoted">
                <post [post]="post"></post>
            </div>
        </div>
    </div>
    <div class="sidebar">

    </div>
</div>
