.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 100%;
    height: 90vh;

}

.content{
    grid-area: 1 / 1 / 6 / 5;

    overflow-y: hidden;
}
.sidebar{
    grid-area: 1 / 5 / 6 / 6;
}

.menu{

    width: 100%;
    height: 75px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
}

.menu>.btn{
    background-color: #2d2d2d;

    display: flex;
    align-items: center;

    height: 50px;
}
.menu>.btn:hover{
    background-color: lighten($color: #2d2d2d, $amount: 10);
}
.posts{
    margin-left: 3rem;
}